/* Body */
html,body { 
    padding-top: 0px; 
    font-family: 'GFS Neohellenic','Montserra', 'Lato', sans-serif; 
    background:radial-gradient(#e5e5e5, #ffff, #e5e5e5)
}
/* container-fluid */
/* .container-fluid{
    background: #010911;
    padding-left: 0;
    padding-right: 0;
   
} */
/* Nav */
.navbar-brand{
    margin-left:1rem;
    text-transform: uppercase;
    background:rgb(236, 172, 9);
    /* color:#010911; */
    color:#ecebf3;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    /* font-family: 'GFS Neohellenic','Montserra', 'Lato', sans-serif;  */
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-style: italic;
    padding: 0.5rem;
}
li{
    list-style: none;
}
.nav-link {
    display: block;
    padding: .6rem 2rem;
    text-transform: uppercase;
}
.nav-link:hover {
    /* background: #1f1f749a; */
    background: #0d024d;
    color:white!important;
    /* text-decoration: underline; */
}

.jumbotron {
    background-color: goldenrod;
    
}

.catego{
    background: #130229;
}
/* .goldenrod{
    background:rgb(236, 172, 9);
} */

.underline{
    width: 75%;
}
/* .row {
    
    margin-right: 0px; 
    margin-left: 0px;
} */

.private{
    color: rgb(201, 148, 14);
}
.backgd{
    /* background: rgba(250, 248, 249, 0.836); */
    background: rgba(209, 208, 205, 0.288);
}
.bg-primary{
    background: #010911!important;
}
.card{
    margin-top:0.9rem;
    border: 0.02rem solid rgba(0,0,0,.125);
}
/* .sliderEvent{
    height: 900px;
    margin-bottom: -27px;
} */

.slick-slide img {
    max-height: 750px;
    margin-bottom: -121px;
}
.slick-prev:before, .slick-next:before{
    font-size: 30px !important;
    color:black !important;
}
.slick-prev:before {
    display: none;
}
.slick-next:before {
    display: none;
}
/* .slideImg{ 
    object-fit: contain;
    width:100%;
} */


img{
    width:100%;
    object-fit: fill;
}

figcaption{
    position: relative;
    top: -300px; 
    font-family: fantasy;
    background: rgba(1, 1, 14, 0.692);
    color: darkgoldenrod;
    letter-spacing: 0.1em;
    border: 0.2em solid transparent;
    width: max-content;
    padding: 0.7rem;
    font-size: larger;
}
.centered{
    text-transform: uppercase;
    font-size: x-large;
    /* color: darkgoldenrod; */
    color: white;
}
.align-self-center {
    margin: -75px;
}
.text-co{
    color: rgb(192, 172, 121);
    /* background: blanchedalmond; */
    /* background: #fdb479; */
    /* background: #9b1d20; */
    /* background: #d8dc6a; */
    background: #444545;
    /* background: #02061a; */
}
.goldenrod{
    background:darkgoldenrod;
}
.textColor{
    color:darkgoldenrod;
    font-size: x-large;
}

/**FILTRE**/
.col-3 {
    border: 0.195rem solid #e0ded6;
    /* background: #f6c240; */
    background: #f7c80d9a;
    border-radius: 35px;
    margin-top: 6.2rem;
    max-width: 20%;
    margin-bottom: 47.1rem;
}
.display-4, h2{
    border: 0.1rem solid goldenrod;
    border-radius: 5px;
}


/**CARD**/
.card-header {
    text-transform: uppercase;
    font-size: 0.8rem;
}

.card-body {
    padding: 0;
}
.card:hover{
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0,0.253)!important;
}
.card-img-top{
    transform:scale(1);
}
.card-img-top:hover{
    transform: scale(1.8);
    transition: transform 5.2s ease;
}
.overflow{ 
    overflow: hidden;
}

/***CATALOGUE***/
.container.catalogue.row{
    margin-right: -10px;
    margin-left: -10px;
}

/* .row.row-catalogue{
    margin-right: -120px;
} */

/* Footer */
footer {
    position: relative;
    bottom: 0; 
    width: 100%;
    height: 100%x;
    font-size: x-small;
    /* background-color: #333; */
    /* background-color: rgb(7, 53, 97); */
    /* background-color: rgb(55, 55, 55); */
    /* background: #030d16!important; */
    /* background:#0f054b; */
    /* color:rgba(255, 255, 255, 0.863); */
    color: rgb(204, 186, 139);
}

.bkg{
    background:#0f054b;
}


 /**
 Search bar
 */
 /* body,html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #e74c3c !important;
    } */

    /* .searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 450px;
    caret-color:red;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
    } */
 
 /**
 Search bar end
 */


@media (min-width: 1200px){
    .central {
        max-width: 1317px;
    }
}

/* @media (min-width: 768px){
    .col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
       
    }
} */

